
@font-face {
  font-family: Gilroy-Bold;
  src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: Gilroy-Light;
  src: url('../fonts/Gilroy-Light.otf');
}


@font-face {
  font-family: Gilroy-Medium;
  src: url('../fonts/medium.ttf');
}

@font-face {
  font-family: Gilroy-Regular;
  src: url('../fonts/regular.ttf');
}

  .section{
    padding: 50px 0;
  }
 ul {
  list-style: none; }

  a{
    color: #000000;
    text-decoration: none;
   }
   a:hover{
    color: #000000;
    text-decoration: none;
   }
body {
  font-family: 'Gilroy-Medium'; 
  background-color: #EDE8E6;
}

  .inner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.top_section {
  padding: 28px 0;
  background: #000;
}

.first-tag h2 {
  font-family: Gilroy-Medium;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  color: #FFFFFF;
}
.first-tag h2 img {
  margin-right: 8px;
}

nav .nav-list {
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  gap: 16px;
}
nav .nav-list .nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}
nav .nav-list .nav-logo .logo {
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.2s;
}
nav .nav-list .nav-logo .logo:hover, nav .nav-list .nav-logo .logo:focus {
  color: hotpink;
  text-shadow: 0 0 3rem hotpink;
}
nav .nav-list .nav-logo #nav-toggle {
  display: none;
}
nav .nav-list .nav-link {
  flex-shrink: 0;
    flex-grow: 0;
    font-weight: bold;
    padding: 16px;
    position: relative;
    cursor: pointer;
}
nav .nav-list .nav-link img {
  position: absolute;
  right: -8px;
  top: 37%;
  transition: transform 0.3s;
}
nav .nav-list .nav-link:hover::after {
  width: 60%;
}
nav .nav-list .nav-link:hover ul {
  opacity: 1;
  visibility: visible;
}
nav .nav-list .nav-link:hover img {
  transform: rotate(180deg);
}
nav .nav-list .nav-link .nav-drop {
  position: absolute;
  z-index: 111;
  top: 4rem;
  box-shadow: 0 4px 16px #000;
  background-color: #000;
  border-radius: 4px;
  border: 1px solid #000;
  width: 12rem;
  padding: 0.5rem;
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-out;
}
nav .nav-list .nav-link .nav-drop li {
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s;
}
nav .nav-list .nav-link .nav-drop li:hover, nav .nav-list .nav-link .nav-drop li:focus {
  background: rgb(248 173 3);
}

nav .dfgf {
  border: none;
  outline: transparent;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}
nav .btn .outline {
  background: inherit;
  border: 2px solid #ffe9f4;
}

nav .btn:focus {
  text-shadow: 0 0 18px hotpink;
  outline: 4px solid #ffcfe7;
}
nav .btn:active {
  transform: scale(0.98);
}

.nav {
  padding: 24px 48px;
}

span.new {
  position: relative;
  height: 16px;
  width: 30px;
  color: #FFFFFF;
  font-family: "Open Sans";
  border-radius: 2px;
  background-color: #F8AD03;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
  padding:0 4px;
  left: 8px;
}

.btn.main-btn {
  color: #FFFFFF;
  font-family: Gilroy-Bold;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 200 !important;
  line-height: 14px;
  text-align: center;
  /* background: blue; */
 
  border-radius: 8px;
  background-color: #285AF9;
  padding: 15px 24px;
}

.tester_new .carousel-item p span {
  display: block;
  text-align: end;
}

/* first section */
h2.main-title {
  color: #000000;
  font-family: Gilroy-Bold;
  font-size: 86px;
  letter-spacing: 0;
  line-height: 94px;
}

.underline {
  position: relative;
  z-index: 111;
}

.underline::after {
  content: '';
  position: absolute;
  background: #f8ad03;
  width: 100%;
  height: 8px;
  z-index: -200;
  left: 0px;
  bottom: 8px;
}
section.first-section {
  padding: 46px 0 65px;
}
.left-parnt {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 21%;
  align-items: end;
  justify-content: right;
}

img.d-lg-none.d-block.sdfsd {
  width: 100%;
  object-fit: cover;
}

.main-para {
  margin-bottom: 0;
  color: #000000;
  font-family: Gilroy-Regular;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 34px;
}
.dfs{
  width: 33%;
}
/* secend section */
.secend-section{
  padding-bottom: 72px;
}

.font-para{
  font-family: Gilroy-Regular;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 42px;
}
.background.grwe {
  /* overflow: hidden; */
  position: relative;
}
.first-card {
  background-color: #F8AD03;
  padding: 72px;
  position: absolute;
  bottom: 51%;
  width: 100%;
  margin-right: 14px;
}
.secton-parant img {
  width: 100%;
  padding-bottom: 72px;
}
.secton-parant {
  position: relative;
}
p.main-para.next-para {
  font-family: Gilroy-Bold;
  font-size: 20px;
  margin-top: 0px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding-bottom: 16px;
  line-height: 34px;
 
  position: relative;
}
p.main-para.next-para::after {
  content: '';
  position: absolute;
  background: #000;
  width: 20%;
  height: 4px;
  bottom: 0;
  left: 0;
}
.background {
  background-image: url(../img/dot_graphic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 100%;
  height: 100%;
}

.ksvj{
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  text-align: initial;
}

p.main-para.next-para.xcfd::after {
  height: 4px;
  width: 72px;
}
/* .background.fleek{
  background-image: url(../img/ic_fleek.png);
  background-size: cover;
  background-position: top;
} */
.thared-section{
  margin-bottom: 80px;
}
.pink-box {
	margin: 48px 0 0 48px;
  background-color: #EDE8E6;
  padding: 48px;
}

.background.profit {
  background-image: url(../img/perifit_banner.png);
  background-size: cover;
      border-radius: 8px;
}
.background.Societi
{
  background-image: url(../img/societi_banner.png);
  background-size: cover;
   border-radius: 8px;
}
.justify-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.botot-dnf.mt-4 {
  display: flex;
  justify-content: end;
}
.owl-carousel .owl-item img {
  display: block;
  width: unset !important;
}
.owl-dots {
  display: none !important;
}

p.sdlfjk {
  font-family: Gilroy-Bold;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 24px;
  text-align: center;
}
.main-sjdfh {
  border-radius: 8px;
  background-color: #F8AD03;
  padding: 24px;
}
.sklfdjkh h2 {
  color: #000000;
  font-family: Gilroy-Bold;
  font-size: 56px;
  letter-spacing: 0;
  line-height: 69px;
  text-align: center;
  margin-bottom: 8px;
}
.sklfdjkh p {
  color: #000000;
  font-family: Gilroy-Regular;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29px;
  margin-bottom: 0;
  text-align: center;
}
.main-fifit {
  display: flex;
  justify-content: space-between;
padding: 0 27px;
}

.sdkfljk p {
  margin-bottom: 0;
  margin-top: 28px;
  text-align: center;
  color: #285AF9;
  font-family: Gilroy-Bold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  text-decoration: underline;
}

.tester_new {
	padding: 20px 0 100px;
}
.tester_new hr {
	width: 100px;
}
.tester_new .carousel-item p {
  color: #000000;
  font-family: Gilroy-Regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  text-align: left;
} 
.tester_new .carousel-item hr {
	width: 100px;
}
.tester_new .carousel-item h5 {
  color: #000000;
  font-family: Gilroy-Bold;
  font-size: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-align: left;
  line-height: 25px;
}
.tester_new .carousel-indicators li {
  height: 249px;
  width: 100%;
	background-image: url('../img/testimonial_img_1.png');
	background-position: center;
	background-size: cover;
	opacity: 0.4;
  cursor:pointer;
  margin: 0 ;
}
.tester_new .carousel-indicators li:nth-child(2) {
	background-image: url('../img/testimonial_img_2.png');
}
.tester_new .carousel-indicators li:nth-child(3) {
	background-image: url('../img/testimonial_img_3.png');
}
.carousel-indicators {
	bottom: 0;
}
.tester_new .carousel-indicators .active {
	opacity: 1;
}

.carousel-indicators{
  margin-right: 0% !important;
}

.lsfjdk{
  height: 278px;
}

.bottom-text {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top : 9%;
}
.bottom-text p {
  color: #000000;
  font-family: Gilroy-Regular;
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 18px;
}

.bottom-text::after {
  position: absolute;
  content: '';
  background: #abb3bf;
  width: 88%;
  height: 0.8px;
  left: 31px;
  bottom: 12px;
}
.bottom-text::before {
  content: '';
  position: absolute;
  background: #f8ad03;
  width: 10%;
  height: 2px;
  left: 29px;
  z-index: 11;
  bottom: 12px;
}
.ds::before{
  width: 50%;
}
.ad::before{
  width: 88%;
} 

.bottom-title{
  color: #181819;
  font-family: Gilroy-Bold;
  font-size: 42px;
  letter-spacing: 0;
  margin-bottom: 24px;
  line-height: 60px;
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer .image-box{
  overflow: hidden;
 border-radius: 8px 8px 0 0;
 
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 16px;
  border-radius: 0px 0px 8px 8px ;
  background-color: #fff;
}
#cards_landscape_wrap-2 .card-flyer{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  border-radius: 8px ;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  color: #181819;
  font-family: Gilroy-Regular;
  font-size: 15px;
  letter-spacing: 0;
  text-align: left;
  line-height: 24px;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  color: #181819;
  text-align: left;
  font-family: Gilroy-Bold;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 36px;
}

a.readmore {
  color: #285AF9;
  font-family: Gilroy-Bold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
}

section.lastdlsj {
  background-color: #110F0E;
  padding: 70px;
  margin-top: -16%;
  height: 500px;
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
}
section.last-section {
  position: relative;
  z-index: 1111;
}

.text-center.dfd {
  margin-top: 22%;
}
.text-center.dfd h2 {
  color: #FFFFFF;
  font-family: Gilroy-Regular;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: center;
}
.uldj  {
  list-style: disc;
  padding: 16px 0 0 17px;
}
.uldj li{
   margin-bottom: 10px;
}
.titke{
  font-family: Gilroy-Bold;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 34px;
  position: relative;

}

.uldj .main-para{
   font-size: 18px;
}

footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  padding: 0;

}
.content .link-boxes .box .link_name{
  color: #FFFFFF;
  font-family: Gilroy-Bold;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #FFFFFF;
  font-family: Gilroy-Regular;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.owl-nav {
  display: none;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
background: #2c303a;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  color: #FFFFFF;
  font-family: Gilroy-Regular;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}





section.last-section {
  position: relative;
  z-index: 1111;
  width: 90%;
  margin: 0 auto;
}
.text-container-fluid {
  background: #fff;
  padding: 16px;
}

.fjgkdf{
	margin-right: 99px;
}

footer.footer {
  background-color: #110F0E;
}

.content .link-boxes .box li a span {
  color: #F8AD03;
    font-family: Gilroy-Bold;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 13px ;
    display: inline-block;
    line-height: 20px;
}

.content {
  padding-top: 48px;
  border-top: 1px solid #292827;
}

section.bottom-section {
  padding: 16px;
  background: #110f0e;
}

.bottom_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.info-section {
  border-radius: 8px;
  background-color: #110F0E;
  color: #fff;

  position: fixed;
  bottom: 0;
  padding: 16px;
  margin: 0 1%;
  width: 98%;
  margin-bottom: 8px;
  z-index: 11111;
}

li.link_name {
  position: relative;
}
li.link_name img {
  position: absolute;
  top: -44px;
}

img.crose {
  position: absolute;
  right: 16px;
  top: 16px;
}

header {
  background: #ede8e6;
}

.cdkjs {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11111;
}

section.first-section {
  padding: 15% 0 65px 46px;
}

ul.nav-list {
  position: relative;
}
button#nav-toggle {
  position: absolute;
  right: 16px;
  top: 10px;
}
i.fa.fa-bars {
  color: #fff;
}

ul.nav-drop a {
  color: #fff;
  font-weight: 400;
}

.sdfsd{
  width: 100%;
  object-fit: cover;
}

.aligin-center{
  height: 100%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* case stady page... */
